<article id="chapter">
	<header>
		<h1><span>#<%= chapter.no %></span> <%= chapter.title %></h1>

		<p class="meta"><time><%= chapter.date %></time>
		<span class="location"><%= chapter.location %></span></p>
	</header>

	<% if (chapter.previousId || chapter.nextId) { %>
		<nav>
			<ul>
				<% if (chapter.previousId) { %>
					<li>
						<a href="/#/chapters/<%= chapter.previousId %>">Zurück</a>
					</li>
				<% } %>

				<% if (chapter.nextId) { %>
					<li>
						<a href="/#/chapters/<%= chapter.nextId %>">Vor</a>
					</li>
				<% } %>
			</ul>
		</nav>
	<% } %>

	<p><%= chapter.description %></p>

	<div class="agenda">
		<% chapter.topics.forEach(function(topic) { %>
			<section>
				<header>
					<hgroup>
						<h1><%= topic.title %></h1>
						<h2><%= topic.type%></h2>
					</hgroup>

					<span class="speaker">von <a href="<%= topic.speaker.contact %>"><%= topic.speaker.name.first %> <%= topic.speaker.name.last %></a></span>
				</header>

				<p><%= topic.description %></p>

				<% if (topic.assets) { %>
					<ul class="assets">
						<% topic.assets.forEach(function(asset) { %>
							<li class="<%= asset.type %>">
								<a href="<%= asset.url %>"><%= asset.name %></a>
							</li>
						<% }); %>
					</ul>
				<% } %>
			</section>
		<% }); %>
	</div>
</article>